{
  "overrides": [
    {
      "files": ["*.{js,jsx}"],
      "options": {
        "tabWidth": 4,
        "trailingComma": "all",
        "semi": true,
        "singleQuote": true,
        "printWidth": 100,
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    },
    {
      "files": ["*.{json,css,scss}"],
      "options": {
        "tabWidth": 2
      }
    },
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 4
      }
    }
  ]
}
